.container{
    margin: auto;
    max-width: 50%;
    background-color: #d9d9d9;
    border: 2px solid #373867;
    margin-bottom: 10px;
}
.login-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#login-header{
    font-size: 30px;
    font-weight: 700;
    color: #373867;
    margin: auto;
    padding: 10px;
}
#login-form{
    display: flex;
    flex-direction: column;
}
#login-form input{
    padding: 5px;
    margin: 0px;
}
#login-form label{
    font-size: 20px;
    font-weight: normal;
    color: #373867;
}
#sumbit-button{
    width: 20%;
    align-self: flex-end;
    height: 30px;
    border: none;
    background-color: #AACE9B;
    color: #373867;
}
#sumbit-button:hover{
    background-color: #373867;
    color: #FFF;
    border: 1px solid white;
}
#logo-back{
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 0px;
}
.green-border{
    border: 3px solid darkgreen;
}
.red-border{
    border: 3px solid darkred;
}
.error-text{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: darkred;
}