main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
#message-icon{
    margin: 10px;
    width: 30px;
}
.title-icons{
    display: flex;
    justify-content: space-between;
}
.side-icons{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
#burger-icon{
    margin: 5px;
    width: 30px;
}
#contact-icon{
    margin: 5px;
    width: 30px;
}
/***********************************************/
.main-section{
    display: flex;
    flex-wrap: wrap;
}
.main-section-div-1{
    display: flex;
    flex-direction: column;

    margin: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 345px;
    background-color: aqua;
}
.main-section-div-1 img{
    width: 80%;
    margin: 10px;
    border-radius: 10px;
}
.main-section-div-1 h4{
    margin: 10px 0px;
}
.main-section-div-1 p{
    text-align-last: left;
}
.read-more-button{
    align-self: center;
    margin: 5px 0px;
    padding: 10px;
    background-color: #EBECF0;
    border-radius: 5px;
    text-decoration: none;
    color: #A3A4B9;
}
.read-more-button:hover{
    background-color: #373867;
    color: white;
}
.main-section-div-2{
    display: flex;
    flex-direction: column;
    margin: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 345px;
    background-color: burlywood;
}
.main-section-div-2 img{
    width: 80%;
    margin: 10px;
    border-radius: 10px;
}
.main-section-div-2 h4{
    margin: 10px 0px;
}
.main-section-div-2 p{
    text-align-last: left;
}
.main-section-div-3{
    display: flex;
    flex-direction: column;

    margin: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 345px;
    background-color: darksalmon;
}
.main-section-div-3 img{
    width: 80%;
    margin: 10px;
    border-radius: 10px;
}
.main-section-div-3 h4{
    margin: 10px 0px;
}
.main-section-div-3 p{
    text-align-last: left;
}
/***********************************************/
.trayectory-section{
    display: flex;
    flex-direction: column;
}
.header-trayectory{
    margin: 20px 0px;
}
.content-trayectory{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content-trayectory p{
    order:1;
    padding: 5px;
    width: 80%;
}
.content-trayectory img{
    width: 80%;
    border-radius: 10px;
}
/***********************************************/
.work-whit-us-section{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
}
.work-whit-us-header{
    margin: 10px;
    padding: 5px;
}
.work-whit-us-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.work-whit-us-section-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.work-whit-us-section-item h4{
    padding: 5px;
}
.work-whit-us-section-item img{
    max-width: 80%;
}
.work-whit-us-section-item p{
    padding: 5px;
    width: 80%;
}
/***********************************************/
.functions-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0px;
    padding: 5px;
}
.functions-header{
    margin:10px;
    padding: 10px;
}
.functions-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center
}
.functions-content img{
    border-radius: 10px;
    margin: 0px 10px;
    width: 80%;
}
.functions-content ol{
    list-style-type:decimal;
    list-style-position: inside;
}
.functions-content li{
    height: 20px;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: normal;
    text-align:justify;
    color: #373867;
}
/***********************************************/
.contact-section{
    display: flex;
    flex-direction: column;
    margin:10px;
}
.contact-section h3{
    padding: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form-text{
    height: 40px;
    width: 80%;
    margin: 10px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
    font-size: 20px;
    font-weight: normal;
    color:#373867;
}
.contact-form select{
    height: 40px;
    width: 80%;
    margin: 10px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
    font-size: 20px;
    font-weight: normal;
    color:#373867;
}
.contact-form textarea{
    height: 100px;
    width: 80%;
    margin: 10px 0px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto',sans-serif;
    color:#373867;
}
.contact-form-send-button{
    width: 130px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EBECF0;
    border-radius: 5px;
    border-width: 0px;
    color: #A3A4B9;
    align-self: end;

}
.contact-form-send-button:hover{
    background-color: #373867;
    color: white;
}
/***********************************************/
.title-section{
    display: flex;
    flex-direction: column;
    margin:10px;
}
.title-header{
    padding: 10px;
}
.title-content{
    display: flex;
    flex-wrap: wrap;
}
.title-section-container{
    width: 100%;
    margin: 20px;
}
.title-section-container img{
    width: 80%;
    margin: 10px;
}
.title-section-container p{
    width: 80%;
}
/***********************************************/
.lists-section{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 10px;
}
.lists-header{
    padding: 10px;
}
.lists-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lists-section-list{
    width: 100%;
}
.lists-section-list ol{
    padding: 10px;
    list-style-type:decimal;
    list-style-position: inside;
}
.lists-section-list li{
    font-size: 20px;
    font-weight: normal;
    color:#373867;
}
.lists-section-list ul{
    padding: 20px;
    list-style-type:disc;
    list-style-position: inside;
}
