body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}
h1{

    font-size: 55px;
    font-weight: bold;
    text-decoration: underline;
    color: #373867;
}
h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #373867;
}
h4{
    font-size: 25px;
    font-weight: bold;
    color:#373867;
}
p{
    font-size: 20px;
    font-weight: normal;
    color: #373867;
}
.hidden{
    display: none;
}
@media screen and (min-width: 768px) {

    .side-icons{
        max-height: 40px;
    }
    .main-section{
        max-height: 1030px;
    }
    .main-section-div-1{
        max-width: 40%;
    }
    .main-section-div-2{
        max-width: 40%;
    }
    .main-section-div-3{
        max-width: 46%;
    }
    .work-whit-us-container{
        background-color: lightcoral;
        /*flex-wrap: nowrap;*/
    }
    .work-whit-us-section-item{
        background-color: lightgreen;
        width: 45%;
    }
    /*.functions-content{
        flex-wrap: nowrap;
    }*/
    .functions-content img{
        max-width: 60%;
    }
    /*
    .title-content{
        flex-wrap: nowrap;
    }*/
    .title-section-container{
        max-width: 40%;
    }
    .lists-section-list{
        max-width: 48%;
    }
}
@media screen and (min-width: 1024px) {
    .hidden{
        display: block;
    }
    .side-icons{
        display: none;
    }
    main{
        margin-left: 20%;
    }
    .main-section{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        height: 850px;
    }
    .main-section-div-1{
        background-color: lightpink;
        width: 50%;
    }
    .main-section-div-2,.main-section-div-3{
        flex-basis: 30%;
        width: 40%;
    }
    .main-section-div-1 img{
        width: 25%;
    }
    .main-section-div-2 img{
        max-width: 20%;
    }
    .main-section-div-3 img{
        max-width: 20%;
    }
    .content-trayectory{
        background-color: aqua;
        justify-content: space-between;
    }
    .content-trayectory img{
        order:2;
        max-width:65%;
    }
    .content-trayectory p{
        max-width:25%;
    }
    .title-section-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
}
