
.clr{
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:#373867;
    width: 100%;
    position: fixed;
    top:0px;
}
#Logo{
    position: relative;
    top: 10px;
    left: 20px;
    width: 60px;
}
#headerTitle{
    display: inline-block;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    padding: 20px 20px 20px 280px;
}
/***********************************************/
aside{
    background-color: #c4c4c4;
    height: 100%;
    width: 20%;
    padding: 0px;
    border-radius: 0px 15px 15px 0px;
    position: fixed;
    top: 80px;
}
h3{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #373867;
}
aside h3{
    font-size: 22px;
    margin: 20px 0px 30px 20px;
    color: #373867;
}
.navigationLine{
    height: 1px;
    background-color: #5A5B7E;
    margin: 10px 0px;

}
#navigationList{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navigationItem{
    display: block;
    color: #373867;
    padding: 20px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 25px;
}
.navigationItem:hover{
    color: #46A37C;
    text-decoration: underline;
}
.navigationIcon{
    padding: 10px 5px 10px 10px;
    float:left;
    margin: 5px;
}
#navigationSearch{
    width: 110px;
    margin: 15px 5px;
}
#contactSection{
    margin-left: 10px;
}
.contactIcon{
    width: 20px;
    margin:0px 5px 5px 0px;
    float: left;
}
.contactDiv{
    margin: 10px 0px;
    padding: 5px;
}
.contactDiv p{
    text-decoration: none;
    color: #373867;
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
    max-width: 200px;
    display: inline-block;
    text-align-last: center;
}
.contactDiv a{
    text-decoration: none;
    color: #373867;
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
    max-width: 200px;
    display: inline-block;
    text-align-last: center;
}
.contactDiv a:hover{
    text-decoration: underline;
    color: #46A37C;
}
/***********************************************/
main{
    margin-left: 20%;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    color: #373867;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#messageIcon{
    width: 30px;
    float: right;
    margin-right: 30px;
}
.mainSection{
    margin-left: 40px;
}
.mainSection1{
    max-width: 50%;
    float: left;
}
.mainSection2{
    float:right;
    max-width: 50%;
    padding: 0px 50px;
    box-sizing: border-box;
    
}
.mainSection3{
    float:right;
    max-width: 50%;
    padding: 20px 50px;
    box-sizing: border-box;
}
.mainImage{
    width: 100%;
    border-radius: 10px;
}
.subTitleMain{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
    color:#373867;

}
.mainSection p{
    font-weight: normal;
    font-size: 20px;
    text-align-last: left;
    color: #373867;
    margin: 10px 0px;
    max-width: 100%;
}
.readMoreButton{
    background-color: #EBECF0;
    color: #A3A4B9;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}
.readMoreButton:hover{
    color: white;
    background-color: #373867;
}

.mainSection2 img{
    width: 150px;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
}
.mainSection2 p{
    display: block;
    color: #373867;
    margin-left: 160px;
}
.mainSection3 img{
    width: 150px;
    border-radius: 10px;
    margin-right: 15px;
}
.subTitleMain2{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    color:#373867;

}
.subTitleMain3{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    color:#373867;


}
.mainSection3 p{
    display: block;
    color: #373867;
    margin-left: 160px;
}
.mainSection3 img{
    width: 150px;
    border-radius: 10px;
    float: left;
}
/***********************************************/
#section2{
    margin: 10px 40px;
}
#section2 h3{
    margin-bottom: 30px;
}
#section2 img{
    width: 600px;
    border-radius: 10px;
    float:right;
}
#section2 p{
    width: 35%;
    height: 20px;
    font-weight: normal;
    font-size: 20px;
    color: #373867;
    margin: 10px 0px;
    float: left;
}
/***********************************************/
#section3{
    margin:20px; 
}
#section3 h3{
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    padding: 5px;
    margin:5px
}
#section3 h4{
    font-size: 25px;
    font-weight: bold;
    color: #373867;
    padding: 5px;
    display: inline-block;
}
#section3 p{
    height: 20px;
    font-weight: normal;
    font-size: 20px;
    color: #373867;
    margin: 10px 0px;
}
.tableSection{
    display: inline-block;
    width: 44%;
    padding: 20px;
}
.tableSection img{
    width: 100px;
    margin-right: 20px;
    float: left;
}
/***********************************************/
.section4{
    margin:20px; 
}
.section4 img{
    width: 520px;
    float: left;
    border-radius: 10px;
}
.section4 h3{
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    padding: 5px;
    margin:5px 10px 40px 10px
}
.section4 ol{
    list-style-type:decimal;
    list-style-position: inside;
    padding: 100px;
    float: left;
}
.section4 li{
    height: 20px;
    font-weight: normal;
    font-size: 20px;
    color: #373867;
    margin: 20px 0px;
    text-align:justify;
}
/***********************************************/
.section5{
    margin:20px 100px; 
}
.section5 h3{
    margin-bottom: 70px; 
}
.textForm{
    font-weight: normal;
    font-size: 20px;
    display: block;
    height: 40px;
    width: 100%;
    margin: 10px 0px;
    color:#373867;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
}
.section5 textarea{
    font-weight: normal;
    font-size: 20px;
    color:#373867;
    display: block;
    height: 100px;
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
}
.section5 select{
    font-weight: normal;
    font-size: 20px;
    display: block;
    height: 40px;
    width: 100%;
    margin: 10px 0px;
    color:#373867;
    border-style: solid;
    border-radius: 5px;
    border-color: #373867;
    border-width: 1px;
}
.sendButton{
    background-color: #EBECF0;
    color: #A3A4B9;
    padding: 10px;
    border-radius: 5px;
    float:right;
    border-width: 0px;
    width: 130px;

}
.sendButton:hover{
    color: white;
    background-color: #373867;
}
/***********************************************/
.section6{
    margin:20px; 
}
.section6 h3{
    margin-bottom:20px; 
}
.section6Conteiner{
    width: 100%; 
}
.section6Conteiner img{
    width: 300px;
    margin-left: 90px;
}
.section6Conteiner p{
    font-weight: normal;
    font-size: 20px;
    color:#373867;
    width: 40%; 
    display: inline-block;
    margin-left: 150px;
    margin-top: 0px;
}
/***********************************************/
.section7{
    margin:20px; 
}
.section7 h4{
    font-size: 25px;
    font-weight: normal;
    color: #373867;

    padding: 5px;
    margin: 5px;

}
.listSection{
    width: 35%;
    float: left;
    margin: 30px 70px;
}
.listSection ol{
    list-style-type:decimal;
    list-style-position: inside;
    padding: 20px;
}
.listSection ul{
    list-style-type:disc;
    list-style-position: inside;
    padding: 20px;
}
.listSection li{
    font-weight: normal;
    font-size: 20px;
    color:#373867;
    padding: 3px;
}
footer{
    margin-left: 20%;

}
.imageContainer{
    text-align: center;
    
}
footer img{
    width: 30px;
    margin: 0px 5px 20px 5px;
}
footer p{
    font-weight: normal;
    font-size: 15px;
    color:#373867;
    padding: 10px;
    text-align: center;
}